*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nmagap{
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}

a{
    text-decoration: none;
    color:#000;
}

li{
    list-style-type: none;
}